{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="row-md-3 m-3">
      {{user}} : Posts

    </div>
    <div class="row-md-3 w-50 align-content-start">
      <form method="get" action="{% url 'item:index' %}">
        <div class="input-group mb-3">
          <input type="text" name="query" class="form-control" placeholder="Search..." aria-label="Search">
          <button class="btn btn-dark btn-rounded" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div class="">
      <div class="d-flex flex-wrap justify-content-start">
        {% for p in items %}
        <a href="{% url 'item:detail' p.id %}" class="m-2 text-decoration-none" style="position: relative;">
          <div class="card shadow-lg border-0" style="width: 18rem; position: relative;">
            <div style="position: relative;">
              <img src="{{ p.image.url }}" class="card-img-top img-fluid" alt="{{ p.name }}"
                style="height: 160px; object-fit: cover;">
              {% if p.is_sold %}
              <button class="btn btn-warning btn-sm" style="position: absolute; top: 10px; right: 10px;">Sold</button>
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title text-primary">{{ p.name }}</h5>
              <h6 class="text-success">Price: ${{ p.price }}</h6>
              <p class="card-text text-muted">Posted on: {{ p.created_at|date:"F j, Y" }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}