{% extends "base.html" %}

{%  block content %}

<div class="container">
  <div class="row">
    <div class="row-md-3 m-3">
      {{user}} : Posts

    </div>
    <div class="col-md-3">
      <form method="get" action="{% url 'item:index' %}">
        <div class="input-group mb-3">
          <input type="text" name="query" class="form-control" placeholder="Search..." aria-label="Search" style="background-color: #fff; color: #000;">
          <button class="btn" type="submit" style="background-color: #000; color: #fff;">Search</button>
        </div>
      </form>

      <h5 class="mt-4" style="color: #000; font-weight: bold;">Categories</h5>
<ul class="list-group">
  <a href="{%url 'item:index'%}"><button type="button" class="btn w-100" style="background-color: #fff; color: #000; box-shadow: 0 0 10px rgba(0,0,0,0.1);">All</button></a>
  {% for category in categories %}
  <a href="{% url 'item:index'%}?query={{query}}&category={{category.id}}"><button type="button"
      class="w-100 btn {% if category.id == category_id %} active {% endif %}" style="background-color: #fff; color: #000; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
      {{category.name}}
  </button></a>
  {% endfor %}
</ul>
    </div>


    <div class="col-md-9">
      <div class="d-flex flex-wrap justify-content-start ">
        {% for p in products %}
        <a href="{% url 'item:detail' p.id%}" class="m-3" style="text-decoration: none;">
          <div class="card shadow-lg border-0" style="width: 18rem; background-color: #fff;">
            <img src="{{ p.image.url }}" class="card-img-top img-fluid" alt="{{ p.name }}"
              style="height: 150px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="color: #000;">{{ p.name }}</h5>
              <div class="row p-0 ">
              <h6 class="col" style="color: #000;">${{ p.price }}</h6>
              <p class="card-text col" style="color: #000;">{{ p.created_at|date:"F j" }}</p>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock%}
